body {
  width: 768px;
  font-family: "Raleway";
}

@media screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
}

.logo {
  background-color: black;
}
header {
  display: block;
}
