@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  /* background: url(./desktop.png) top center no-repeat; */
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
  margin-top: 25px;
}

header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header a {
  color: #000;
  text-decoration: none;
  /* border-bottom: 5px solid blue; */
  padding: 48px 30px 37px;
  display: block;
  position: relative;
}

header .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1470fc;
  width: 100%;
  height: 2px;
}

/* SEARCH */

.search h1 {
  margin-bottom: 8px;
  letter-spacing: -0.75px;
}

.search h5 {
  font-size: 16px;
  margin: 0;
  letter-spacing: -0.75px;
}

.search form {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search i {
  background-color: #f2f2f2;
  width: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}

.search input {
  border: 1px solid #ececec;
  width: 230px;
  padding: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
}

.search button {
  border-bottom-right-radius: 10px;
  padding: 5px 20px;
  background-color: #0065fc;
  color: #fff;
  font-size: 17px;
  border-top-right-radius: 10px;
  border-style: none;
}

.search button i {
  display: none;
}

/* FILTERS */
.filters {
  display: flex;
  align-items: center;
}

.filters h2 {
  margin-right: 20px;
  letter-spacing: 1px;
  padding-left: 10px;
}

.filters div {
  border: 2px solid #f2f2f2;
  padding-right: 21px;
  border-radius: 26px;
  margin-right: 20px;
}

.filters label {
  display: flex;
  align-items: center;
}

.filters i {
  background-color: #deebff;
  width: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #0065fc;
  border-radius: 50%;
  margin-right: 10px;
  transform: translateX(-7px);
  font-size: 24px;
}

.filters span {
  font-size: 16px;
  font-size: large;
}
.filters input {
  width: 0;
  height: 0;
  overflow: hidden;
}

.filters input:checked + i {
  background-color: #0065fc;
  color: #deebff;
}
.info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.i-info {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  color: #0065fc;
  border-color: #f2f2f2;
  border-style: solid;
  border-radius: 45px;
  border-width: 3px;
  font-size: xx-large;

  width: 45px;
  margin: 20px;
}

/* SECTION 1 ACCOMODATION AND MOST VIEWWD*/
.section1 {
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  margin-bottom: 64px;
  margin-top: 20px;
}
.section1 b,
p {
  font-size: 16px;
}
.accomm {
  display: flex;
  flex-basis: 66%;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.accomm article {
  margin: 2px;
  flex-basis: 28%;
  padding: 5px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
  height: 35%;
}
.accomm article:hover {
  box-shadow: 0px 4px 6px rgb(0 0 0 / 60%);
}

.accomm img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}
.accomm h2 {
  display: flex;
  flex-basis: 100%;
  padding-top: 20px;
  padding-left: 41px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

#desc p {
  margin: 5px 0px 2px 0px;
}
#desc {
  margin: 0px 0px 0px 5px;
}
#valor {
  margin: 0px 0px 5px 5px;
  align-items: center;
}
#valor i {
  background-color: #f2f2f2;
  color: #0065fc;
  font-size: 12px;
}
.inact {
  color: #f2f2f2;
  border: none;
}
.showmore {
  display: flex;
  flex-basis: 100%;
  text-decoration: none;
  color: #000;
  padding: 0px 0px 25px 30px;
  margin-top: 5px;
  font-size: 20px;
}
.showmore a {
  text-decoration: none;
  color: black;
}

.popular {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  gap: 2px;
  background-color: #f2f2f2;

  border-radius: 10px;
}

.popular article {
  margin: 20px;
  display: flex;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.popular article:hover {
  box-shadow: 0px 4px 6px rgb(0 0 0 / 60%);
}
#Valor {
  display: flex;
  align-items: flex-end;
}

.popular img {
  border-radius: 10px 0px 0px 10px;
  width: 36%;
  height: 129px;
}

.popular desc {
  flex-basis: 100%;
}

.popular h3 {
  margin: 43px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
}
.optional{
  display: flex;
 justify-content: space-between;
 align-content: center;


}

.optional i{
  font-size: 24px;
  align-content: center;
  margin-top:25px;
  margin-right: 25px;

  


}

/* activity code*/

.activity {
  display: flex;
  gap: 43px;
}

.activity div {
  flex-basis: 50%;
  display: flex;
  gap: 43px;

  /* justify-content: space-between; */
}

.activity div div {
  flex-direction: column;
}

.activity figure {
  margin: 0;
  flex-basis: 50%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 20%);
  height: fit-content;
}
.activity figure:hover {
  box-shadow: 0px 4px 6px rgb(0 0 0 / 60%);
}
.activity figure > img {
  width: 100%;
  height: 181px;
  object-fit: fill;
}

.activity .big {
  height: 456px;
}

.activity figcaption {
  padding: 15px 20px;
  font-weight: bold;
}

/* #twin-pic1 {
  max-height: 50%;
}
#twin-pic2 {
}
#twin-pic2 img {
}

#twin-pic3 {
}
#twin-pic4 { */
}

/*.activity figure:nth-child(4)>img{
  height: 400px;
  object-fit:cover;
}
.activity figure:nth-child(5)>img{
  height: 190px;
  object-fit:cover;
}*/
.activity h3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 0;
}

/*FOOTER*/
footer {
  margin-top: 41px;
  padding: 30px;
  font-size: 16px;

  background-color: #f2f2f2;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #000;
  margin-bottom: 7px;
  display: block;
}

@media screen and (max-width: 767px) {
  * {
    flex-direction: column;
  }

  header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  .filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

    .search form {

      background-color: #fff;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: row;
  }

}


